* {box-sizing: border-box; margin: 0; padding: 0; font-family: 'Spartan', sans-serif;}

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: hsl(222, 26%, 31%);
}

header {
    width: 100%;
    padding: 1.5em;
    display: flex;
    color: #fff;
}
.title {
    font-size: 36px;
    width: 50%;
}
.themes {
    width: 50%;
}
.themes p {
    font-size: 16px;
}
.themes table {
    float: right;
}
.themes table th {
    text-align: center;
    width: 22px;
}
.themes table tr {
    width: 100%;
}
.theme_ {
    margin-right: 18px;
}
button {
    cursor: pointer;
}
.buttons {
    height: 24px;
    width: 100%;
    background-color: hsl(223, 31%, 20%);
    border-radius: 32px;
    text-align: center;
}
.buttons .btn_theme {
    width: 16px;
    height: 16px;
    background: hsl(6, 63%, 50%);
    border: none;
    border-radius: 50%;
    margin-top: calc(50% - 31px);
}

.buttons .btn_theme:nth-child(1) {
    opacity: 1;
}

.buttons .btn_theme:nth-child(2), .buttons .btn_theme:nth-child(3) {
    opacity: 0;
}

.btn_theme_th {
    cursor: pointer;
}

.calculator {
    width: 100%;
    padding: 0 1.5em;
}

.calculator__display {
    width: 100%;
    background-color: hsl(224, 36%, 15%);
    text-align: right;
    padding: 1.5em 1.5em;
    border-radius: 0.5em;
    color: #fff;
}

.calculator__keys {
    width: 100%;
}
.calculator__keys table {
    width: 100%;
    background-color: hsl(223, 31%, 20%);
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.5em;
}
.calculator__keys table tr td{
    width: 20%;
}
.keys__standard {
    width: 100%;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-bottom: 4px solid hsl(224, 28%, 35%);
    background-color: hsl(225, 21%, 49%);
    border-radius: 0.2em;
    color: #fff;
}
.keys__standard:active {
    border: none;
}
.keys__number {
    border-bottom: 4px solid hsl(28, 16%, 65%);
    background-color: hsl(30, 25%, 89%);
    color:hsl(221, 14%, 31%);
}
.keys__equal {
    border-bottom: 4px solid hsl(6, 70%, 34%);
    background-color: hsl(6, 63%, 50%);
    color:#fff;
}

@media (min-width: 1440px) {
    body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator_container {
        width: 40%;
    }
    .calculator__keys {
        height: 100%;
    }
    .calculator__keys td {
        padding: 0.2em 0.4em;
    }

}