* {box-sizing: border-box; margin: 0; padding: 0; font-family: 'Spartan', sans-serif;}

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: hsl(268, 75%, 9%);
}

header {
    width: 100%;
    padding: 1.5em;
    display: flex;
    color: hsl(52, 100%, 62%);
}
.title {
    font-size: 36px;
    width: 50%;
}
.themes {
    width: 50%;
}
.themes p {
    font-size: 16px;
}
.themes table {
    float: right;
}
.themes table th {
    text-align: center;
    width: 22px;
}
.themes table tr {
    width: 100%;
}
.theme_ {
    margin-right: 18px;
}
button {
    cursor: pointer;
}
.buttons {
    height: 24px;
    width: 100%;
    background-color: hsl(268, 71%, 12%);
    border-radius: 32px;
    text-align: center;
}
.buttons .btn_theme {
    width: 16px;
    height: 16px;
    background: hsl(176, 100%, 44%);
    border: none;
    border-radius: 50%;
    margin-top: calc(50% - 31px);
}

.calculator {
    width: 100%;
    padding: 0 1.5em;
}

.calculator__display {
    width: 100%;
    background-color: hsl(268, 71%, 12%);
    text-align: right;
    padding: 1.5em 1.5em;
    border-radius: 0.5em;
    color: hsl(52, 100%, 62%);
}

.calculator__keys {
    width: 100%;
}
.calculator__keys table {
    width: 100%;
    background-color: hsl(268, 71%, 12%);
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.5em;
}
.calculator__keys table tr td{
    width: 20%;
}
.keys__standard {
    width: 100%;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-bottom: 4px solid hsl(285, 91%, 52%);
    background-color: hsl(281, 89%, 26%);
    border-radius: 0.2em;
    color: #fff;
}
.keys__standard:active {
    border: none;
}
.keys__number {
    border-bottom: 4px solid hsl(290, 70%, 36%);
    background-color: hsl(268, 47%, 21%);
    color:hsl(52, 100%, 62%);
}
.keys__equal {
    border-bottom: 4px solid hsl(177, 92%, 70%);
    background-color: hsl(176, 100%, 44%);
    color:hsl(198, 20%, 13%);
}

@media (min-width: 1440px) {
    body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator_container {
        width: 40%;
    }
    .calculator__keys {
        height: 100%;
    }
    .calculator__keys td {
        padding: 0.2em 0.4em;
    }

}